* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(169, 207, 198);
    background-repeat: no-repeat;

}

html {
    font-size: 62.5%;
}

.navbar {
    background-color: rgb(211, 211, 211, 0.8);
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: rgb(0, 12, 40);
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(254, 0, 10);
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: rgb(254, 0, 10);
    margin-bottom: 4px;
}

.menu-line2 {
    width: 20px;
    height: 3px;
    background-color: rgb(0, 32, 70);
    margin-bottom: 4px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        position: fixed;
        width: 100%;
    }

    .navbar .container-icon {
        width: 100%;
    }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 3.5rem;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        border-top: 1px solid white;
    }

    .active {
        display: block;
    }

    .text-white {
        font-size: 1.3rem;
        color: #FFF;
        background-color: #000;
        border-radius: 10px 10px 0 0;
    }
}

.text-white a{
    color: #FFF;
}

.sliderone {
    margin: 0 auto;
    width: 25rem;
    height: 44rem;
    overflow: hidden;
}

.slidesone {
    margin-top: 10rem;
    width: 400%;
    height: 37rem;
    display: flex;
}

.slidertwo {
    margin: 0 auto;
    width: 25rem;
    height: 50rem;
    overflow: hidden;
}

.slidestwo {
    margin-top: 8rem;
    width: 400%;
    height: 37rem;
    display: flex;
}

.sliderthree {
    margin: 0 auto;
    width: 25rem;
    height: 65rem;
    overflow: hidden;
}

.slidesthree {
    width: 400%;
    height: 37rem;
    display: flex;
}

.slidesone input, .slidestwo input, .slidesthree input {
    display: none;
}

.slide {
    width: 25%;
    transition: 3s;
}

.slide img {
    border: 1px solid #111;
    border-radius: 20px;
    width: 25rem;
}

.manual-navigation-one {
    position: absolute;
    width: 25rem;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}
.manual-navigation-two {
    position: absolute;
    width: 25rem;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}
.manual-navigation-three {
    position: absolute;
    width: 25rem;
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

#radio5:checked~.first {
    margin-left: -100%;
}

#radio6:checked~.first {
    margin-left: 0;
}

#radio7:checked~.first {
    margin-left: -25%;
}

#radio8:checked~.first {
    margin-left: -50%;
}

#radio9:checked~.first {
    margin-left: -75%;
}

#radio10:checked~.first {
    margin-left: -100%;
}

#radio11:checked~.first {
    margin-left: 0;
}

#radio12:checked~.first {
    margin-left: -25%;
}

#radio13:checked~.first {
    margin-left: -50%;
}

#radio14:checked~.first {
    margin-left: -75%;
}

#radio15:checked~.first {
    margin-left: -100%;
}

.navigation-auto-one div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto-one {
    position: absolute;
    width: 25rem;
    margin-top: 310px;
    display: flex;
    justify-content: center;
}

.navigation-auto-one div:not(:last-child) {
    margin-right: 40px;
}

.navigation-auto-two div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto-two {
    position: absolute;
    width: 25rem;
    margin-top: 310px;
    display: flex;
    justify-content: center;
}

.navigation-auto-two div:not(:last-child) {
    margin-right: 40px;
}

.navigation-auto-three div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto-three {
    position: absolute;
    width: 25rem;
    margin-top: 53rem;
    display: flex;
    justify-content: center;
}

.navigation-auto-three div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto-one .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked~.navigation-auto-one .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked~.navigation-auto-one .auto-btn3 {
    background-color: #FFF;
}

#radio4:checked~.navigation-auto-one .auto-btn4 {
    background-color: #FFF;
}

#radio5:checked~.navigation-auto-one .auto-btn5 {
    background-color: #FFF;
}

#radio6:checked~.navigation-auto-two .auto-btn6 {
    background-color: #FFF;
}

#radio7:checked~.navigation-auto-two .auto-btn7 {
    background-color: #FFF;
}

#radio8:checked~.navigation-auto-two .auto-btn8 {
    background-color: #FFF;
}

#radio9:checked~.navigation-auto-two .auto-btn9 {
    background-color: #FFF;
}

#radio10:checked~.navigation-auto-two .auto-btn10 {
    background-color: #FFF;
}

#radio11:checked~.navigation-auto-three .auto-btn11 {
    background-color: #FFF;
}

#radio12:checked~.navigation-auto-three .auto-btn12 {
    background-color: #FFF;
}

#radio13:checked~.navigation-auto-three .auto-btn13 {
    background-color: #FFF;
}

#radio14:checked~.navigation-auto-three .auto-btn14 {
    background-color: #FFF;
}

#radio15:checked~.navigation-auto-three .auto-btn15 {
    background-color: #FFF;
}



#logo {
    width: 15rem;
}

.container {
    margin: 0 4rem;
}

.line2 {
    border-top: 1px solid black;
    margin-top: 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

a {
    text-decoration: none;
}

.contact a {
    border-radius: 5px;
    width: 50%;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #20a6ff;
}

.contact a:hover {
    color: white;
    background-color: black;
}

.button {
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

i {
    margin-right: 1rem;
}

div p {
    font-size: 1.5rem;
}

span {
    gap: 0.8rem;
    color: gray;
}

div p+p {
    margin-top: 2rem;
}

.details {
    margin: 2rem 0 2rem 0;
    background-color: rgb(194, 224, 217);
    border-radius: 10px;
    padding: 1rem 1rem;
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
}

ul li {
    list-style-type: none;
}

.text-center {
    text-align: center;
}